.tools h3 {
  margin-top: 27px;
}
.tools .service-item{
  padding-bottom:0;
  border-radius: 5px
}
/* Add this to your tools.css file */
.card-animation {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.card-animation:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow on hover */
}
.tool-card {
  cursor: pointer;
}